In [2]:
import altair as alt
from vega_datasets import data as v
from pathlib import Path
import json
import pandas as pd

In [23]:
data = []
for f in Path('.').glob('*.fuse'):
    hls = json.load((Path(f.stem) / "hls.json").open())
    futil = json.load((Path(f.stem) / "futil.json").open())
    data.append({'benchmark': f.stem.split('-')[-1], 'type': 'hls', 'value': hls['LUT']})
    data.append({'benchmark': f.stem.split('-')[-1], 'type': 'futil', 'value': futil['LUT']})
alt.Data(values=data)

Data({
  values: [{'benchmark': 'gemver', 'type': 'hls', 'value': '3193'}, {'benchmark': 'gemver', 'type': 'futil', 'value': '114'}, {'benchmark': 'gemm', 'type': 'hls', 'value': '1839'}, {'benchmark': 'gemm', 'type': 'futil', 'value': '75'}, {'benchmark': 'trisolv', 'type': 'hls', 'value': '1830'}, {'benchmark': 'trisolv', 'type': 'futil', 'value': '48'}, {'benchmark': '2mm', 'type': 'hls', 'value': '2267'}, {'benchmark': '2mm', 'type': 'futil', 'value': '115'}, {'benchmark': 'trmm', 'type': 'hls', 'value': '1498'}, {'benchmark': 'trmm', 'type': 'futil', 'value': '68'}, {'benchmark': 'gesummv', 'type': 'hls', 'value': '2112'}, {'benchmark': 'gesummv', 'type': 'futil', 'value': '51'}, {'benchmark': 'symm', 'type': 'hls', 'value': '2186'}, {'benchmark': 'symm', 'type': 'futil', 'value': '60'}, {'benchmark': 'product', 'type': 'hls', 'value': '216'}, {'benchmark': 'product', 'type': 'futil', 'value': '17'}, {'benchmark': 'mvt', 'type': 'hls', 'value': '1816'}, {'benchmark': 'mvt', 'type': 'futil', 'value': '66'}, {'benchmark': '3mm', 'type': 'hls', 'value': '2572'}, {'benchmark': '3mm', 'type': 'futil', 'value': '168'}, {'benchmark': 'atax', 'type': 'hls', 'value': '1769'}, {'benchmark': 'atax', 'type': 'futil', 'value': '73'}, {'benchmark': 'bicg', 'type': 'hls', 'value': '1804'}, {'benchmark': 'bicg', 'type': 'futil', 'value': '75'}, {'benchmark': 'lu', 'type': 'hls', 'value': '2078'}, {'benchmark': 'lu', 'type': 'futil', 'value': '128'}, {'benchmark': 'syrk', 'type': 'hls', 'value': '1825'}, {'benchmark': 'syrk', 'type': 'futil', 'value': '87'}, {'benchmark': 'syr2k', 'type': 'hls', 'value': '2068'}, {'benchmark': 'syr2k', 'type': 'futil', 'value': '92'}]
})

In [24]:
source = alt.Data(values=data)

alt.Chart(source).mark_bar().encode(
    x='type:O',
    y='value:Q',
    column='benchmark:O',
    color='type:O'
).interactive()

alt.Chart(...)

In [5]:
v.barley()

        yield           variety  year             site
0    27.00000         Manchuria  1931  University Farm
1    48.86667         Manchuria  1931           Waseca
2    27.43334         Manchuria  1931           Morris
3    39.93333         Manchuria  1931        Crookston
4    32.96667         Manchuria  1931     Grand Rapids
..        ...               ...   ...              ...
115  58.16667  Wisconsin No. 38  1932           Waseca
116  47.16667  Wisconsin No. 38  1932           Morris
117  35.90000  Wisconsin No. 38  1932        Crookston
118  20.66667  Wisconsin No. 38  1932     Grand Rapids
119  29.33333  Wisconsin No. 38  1932           Duluth

[120 rows x 4 columns]